@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --surface: #F3F0ED;
  --border:#9C9C9D;

}

.font-galaxie {
  font-family: var(--font-galaxie);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border:var(--border)

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
